@media (min-width: 1470px) {
    .menu h1 {
        font-size: 3vw;
    }
    .nav-liens ul > li a {
        font-size: 1.5vw;
        width: 11vw;
    }
    .recherche .titre-recherche {
        font-size: 1.5vw;
    }
    .recherche .text-recherche {
        font-size: 1.5vw;
    }
    .boutton-recherche i {
        font-size: 1.1vw;
        padding: 1%;
        border-radius: 15px 15px;
    }
    .boutton-recherche input {
        padding: 1.1% 0;
        width: 15vw;
        border-radius: 15px 15px;
        margin-left: 0.5vw;
    }
    .boutton-recherche input::placeholder {
        font-size: 1.1vw;
        top: 0.25vw;
        right: 2vw;
    }
    .boutton-recherche button {
        padding: 0.75vw 0;
        width: 10vw;
        font-size: 1.1vw;
        border-radius: 15px 15px;
        margin-left: 0.5vw;
    }
    .filtres h3 {
        font-size: 1.1vw;
    }
    .filtres .economique i{
        font-size: 20px;
    }
    .filtres .economique h4{
        font-size: 20px;
        margin-bottom: 3px;
    }
    .filtres .famillial i{
        font-size: 20px;
    }
    .filtres .famillial h4{
        font-size: 20px;
        margin-bottom: 3px;
    }
    .filtres .romantique i{
        font-size: 20px;
    }
    .filtres .romantique h4{
        font-size: 20px;
        margin-bottom: 3px;
    }
    .filtres .animaux i{
        font-size: 20px;
    }
    .filtres .animaux h4{
        font-size: 20px;
        margin-bottom: 3px;
    }
    .sous-titre i {
        width: 32px;
        height: 32px;
        font-size: 16px;
        padding-top: 6px;
    }
    .sous-titre p {
        font-size: 20px;
    }
    .flex_hebergements {
        justify-content: space-between;
    }
    .hebergements {
        margin-right: 0;
    }
    .populaire {
        margin-right: 50px;
    }
    .section_activite .kit_carte {
        justify-content: space-evenly;
    }
    .footer {
        margin: 61px auto auto auto;
    }
}
@media (max-width: 1439px) {
    body {
        background-color: rgb(201, 32, 88);
    }
}
@media (max-width: 1199px) {
    body {
        background-color: rgb(187, 32, 201);
    }
}























@media (max-width: 1024px) {
    body {
        background-color: rgb(35, 32, 201);
    }
    .menu h1 {
        margin-left: 72px;
    }
    .recherche .titre-recherche {
        margin-left: 72px;
        margin-top: 50px;
    }
    .recherche .text-recherche {
        margin-top: 12px;
        margin-left: 72px;
    }
    .boutton-recherche {
        margin-left: 72px;
    }
    .filtres h3 {
        margin-left: 72px;
    }
    .filtres .economique {
        margin-left: 20px;
    }
    .filtres .famillial {
        margin-left: 20px;
    }
    .filtres .romantique {
        margin-left: 20px;
    }
    .filtres .animaux {
        margin-left: 20px;
    }
    .sous-titre i {
        margin-left: 72px;
    }
    .flex_hebergements {
        flex-direction: column;
    }
    .hebergements {
        margin-left: 72px;
        margin-right: 55px;
    }
    .populaire {
        background: #F2F2F2;
        border-radius: 20px;
        width: 883px;
        height: 278px;
        margin: 50px 55px auto 72px;
    }
    .populaire .kit_populaire {
        margin-top: 38px;
    }
    .populaire .kit_populaire i {
        margin-left: 580px;
    }
    .populaire .kit_cards_pop {
        display: flex;
        flex-direction: row;
        background-color: red;
        margin-top: 26px;
    }
    .populaire .carte4 {
        margin: 0;
        width: 252px;
        height: 144px;
        margin-left: 40px;
        margin-right: 23px;
    }
    .populaire .carte4 .zone_blanche4 {
        margin-left: -100px;
        padding-right: 10px;
    }
    .populaire .carte4 .zone_blanche4 h3 {
        font-size: 14px;
        margin-left: 15px;
        margin-top: 14px;
    }
    .populaire .carte4 .zone_blanche4 p {
        font-size: 13px;
        margin-left: 15px;
        margin-top: 7px;
    }
    .populaire .carte4 .zone_blanche4 .kit_etoiles4 {
        margin-left: 15px;
        margin-top: 50px;
    }
    .populaire .carte5 {
        margin: 0;
        width: 252px;
        height: 144px;
        margin-right: 23px;
    }
    .populaire .carte5 .zone_blanche5 {
        margin-left: -90px;
        padding-right: 10px;
    }
    .populaire .carte5 .zone_blanche5 h3 {
        font-size: 14px;
        margin-left: 15px;
        margin-top: 14px;
    }
    .populaire .carte5 .zone_blanche5 p {
        font-size: 13px;
        margin-left: 15px;
        margin-top: 7px;
    }
    .populaire .carte5 .zone_blanche5 .kit_etoiles5 {
        margin-left: 15px;
        margin-top: 50px;
    }
    .populaire .carte6 {
        margin: 0;
        width: 252px;
        height: 144px;
        margin-right: 40px;
    }
    .populaire .carte6 .zone_blanche6 {
        margin-left: -95px;
        padding-right: 10px;
    }
    .populaire .carte6 .zone_blanche6 h3 {
        font-size: 14px;
        margin-left: 15px;
        margin-top: 14px;
    }
    .populaire .carte6 .zone_blanche6 p {
        font-size: 13px;
        margin-left: 15px;
        margin-top: 7px;
    }
    .populaire .carte6 .zone_blanche6 .kit_etoiles6 {
        margin-left: 15px;
        margin-top: 50px;
    }
}












































@media (max-width: 991px) {
    body {
        background-color: rgb(32, 190, 201);
    }
}
@media (max-width: 767px) {
    body {
        background-color: rgb(149, 204, 22);
    }
}
@media (max-width: 571px) {
    body {
        background-color: rgb(201, 57, 32);
    }
}
@media (max-width: 425px) {
    body {
        background-color: rgb(201, 142, 32);
    }
}