/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Raleway';
}
img {
    width: 200px;
}

/* NAVBAR */
.menu {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu h1 {
    color: #0065FC;
    margin-left: 55px;
}
.nav-liens {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.nav-liens ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.nav-liens ul:before,
.nav-liens ul:after {
    content: "";
    display: table;
}
.nav-liens ul:after {
    clear: both;
}
.nav-liens ul > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-top: 2px solid #fff;
}
.nav-liens ul > li a {
    display: block;
    float: left;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    width: 150px;
}
.nav-liens ul > li a.hebergement {
    padding: 47px 0 0 0;
}
.nav-liens ul > li a.activite {
    padding: 47px 0 0 0;
} 
.nav-liens ul > li:hover {
    border-top: 2px solid #0065FC;
}
.nav-liens li a:hover {
    font-weight: 500;
    color: #0065FC;
}

/* RECHERCHE */
.recherche .titre-recherche {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-left: 55px;
    margin-top: 63px;
}
.recherche .text-recherche {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    margin-left: 55px;
}
.boutton-recherche {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    margin-top: 20px;
}
.boutton-recherche i {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
    padding: 15.5px 16px;
}
.boutton-recherche input {
    padding: 17px 16px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #F2F2F2;
    background-color: rgb(255, 255, 255);
}
.boutton-recherche input::placeholder {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.boutton-recherche button {
    align-items: center;
    padding: 15px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}