/* GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Raleway';
}
img {
    width: 200px;
}

/* NAVBAR */
.menu {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    height: 100%;
}
.menu h1 {
    color: #0065FC;
    font-weight: 500;
    margin-left: 55px;
    padding-top: 41px;
}
.nav-liens {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}
.nav-liens ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 5px;
}
.nav-liens ul:before,
.nav-liens ul:after {
    content: "";
    display: table;
}
.nav-liens ul:after {
    clear: both;
}
.nav-liens ul > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-top: 2px solid #fff;
}
.nav-liens ul > li a {
    display: block;
    float: left;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    width: 150px;
}
.nav-liens ul > li a.hebergement {
    padding-top: 47px;
}
.nav-liens ul > li a.activite {
    padding-top: 47px;
} 
.nav-liens ul > li:hover {
    border-top: 2px solid #0065FC;
}
.nav-liens li a:hover {
    font-weight: 500;
    color: #0065FC;
}

/* RECHERCHE */
.recherche .titre-recherche {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-left: 55px;
    margin-top: 55px;
}
.recherche .text-recherche {
    font-style: normal;
    font-weight: 410;
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    margin-left: 55px;
}
.boutton-recherche {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 55px;
    margin-top: 19px;
}
.boutton-recherche i {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
    padding: 15px 18px;
}
.boutton-recherche input {
    padding: 16px 70px 17px 16px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #F2F2F2;
    background-color: rgb(255, 255, 255);
}
.boutton-recherche input::placeholder {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 710;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 3px;
    right: 10px;
}
.boutton-recherche button {
    align-items: center;
    padding: 13px 16px 14px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.boutton-recherche button i {
    position: absolute;
    visibility: hidden;
}

/* FILTRES */
.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
}
.filtres h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-left: 62px;
}
.filtres .economique {
    display: flex;
    background-color: white;
    border: 2px solid #D9D9D9;
    align-items: center;
    border-radius: 25px;
    padding: 12px 19px;
    margin-left: 32px;
    cursor: pointer;
    text-align: center;
}
.filtres .economique:hover {
    background-color: #DEEBFF;
}
.filtres .economique i{
    color: #0065FC;
    font-size: 18px;
}
.filtres .economique h4{
    /*width: 103px;*/
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;
}
.filtres .famillial {
    display: flex;
    background-color: white;
    border: 2px solid #D9D9D9;
    align-items: center;
    border-radius: 25px;
    padding: 11px 19px 11px 21px;
    margin-left: 45px;
    cursor: pointer;
    text-align: center;
}
.filtres .famillial:hover {
    background-color: #DEEBFF;
}
.filtres .famillial i{
    color: #0065FC;
    font-size: 22px;
}
.filtres .famillial h4{
    /*width: 103px;*/
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-left: 15px;
}
.filtres .romantique {
    display: flex;
    background-color: white;
    border: 2px solid #D9D9D9;
    align-items: center;
    border-radius: 25px;
    padding: 11px 19px;
    margin-left: 40px;
    cursor: pointer;
    text-align: center;
}
.filtres .romantique:hover {
    background-color: #DEEBFF;
}
.filtres .romantique i{
    color: #0065FC;
    font-size: 22px;
}
.filtres .romantique h4{
    /*width: 103px;*/
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;
}
.filtres .animaux {
    display: flex;
    background-color: white;
    border: 2px solid #D9D9D9;
    align-items: center;
    border-radius: 25px;
    padding: 13px 19px;
    margin-left: 32px;
    cursor: pointer;
    text-align: center;
}
.filtres .animaux:hover {
    background-color: #DEEBFF;
}
.filtres .animaux i{
    color: #0065FC;
    font-size: 20px;
}
.filtres .animaux h4{
    /*width: 103px;*/
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;;
}
.sous-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}
.sous-titre i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 59px;
    font-size: 11px;
    text-align: center;
    align-items: center;
    color: #0065FC;
    padding-top: 5px;
}
.sous-titre p {
    margin-left: 11px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* HEBERGEMENTS */
.flex_hebergements {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
}
.hebergements {
    background: #F2F2F2;
    border-radius: 20px;
    /*width: 850px;*/
    height: 626px;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.hebergements h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-top: 42px;
    margin-left: 40px;
}

/* LIGNE1 */
.hebergements .ligne1{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 23px;
}

/* LIGNE1 CARTE1 */
.hebergements .ligne1 .carte1{
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne1 .carte1 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -55px;
    padding-left: 16px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 {
    margin-top: 4px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}

/* LIGNE1 CARTE2 */
.hebergements .ligne1 .carte2{
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 31px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne1 .carte2 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -55px;
    padding-left: 16px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 {
    margin-top: 4px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}

/* LIGNE1 CARTE3 */
.hebergements .ligne1 .carte3{
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 31px;
    margin-right: 40px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne1 .carte3 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -55px;
    padding-left: 16px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 {
    margin-top: 4px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne1 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}


/* LIGNE2 */
.hebergements .ligne2{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 30px;
}

/* LIGNE2 CARTE1 */
.hebergements .ligne2 .carte1{
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne2 .carte1 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -117px;
    padding-left: 16px;
    padding-bottom: 25px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 {
    margin-top: 4px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte1 .zone_blanche1 .kit_etoiles1 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}

/* LIGNE2 CARTE2 */
.hebergements .ligne2 .carte2{
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 31px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne2 .carte2 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -30px;
    padding-left: 16px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 {
    margin-top: 4px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte2 .zone_blanche2 .kit_etoiles2 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}

/* LIGNE2 CARTE3 */
.hebergements .ligne2 .carte3{
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 31px;
    margin-right: 40px;
    overflow: hidden;
    width: 246px;
    height: 199px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hebergements .ligne2 .carte3 img {
    background-size: cover;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 {
    position: relative;
    background-color: #FFFFFF;
    margin-top: -250px;
    padding-left: 16px;
    padding-bottom: 16px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 10px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 {
    margin-top: 4px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
    margin-left: -1px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.hebergements .ligne2 .carte3 .zone_blanche3 .kit_etoiles3 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
}

/* AFFICHER PLUS */
.hebergements a.plus {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-left: 44px;
    top: 40px;
    text-decoration: none;
}

/* POPULAIRES */
.populaire {
    background: #F2F2F2;
    border-radius: 20px;
    width: 420px;
    height: 625px;
}
.populaire .kit_populaire {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 41px;
}
.populaire .kit_populaire h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-left: 37px;
}
.populaire .kit_populaire i {
    color: #0065FC;
    margin-left: 118px;
    font-size: 18px;
}

/* POPULAIRES CARTE4 */
.populaire .carte4 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 20px;
    width: 343px;
    height: 144px;
    overflow: hidden;
    margin: 26px auto auto auto;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.populaire .carte4 img {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
.populaire .carte4 .zone_blanche4 {
    position: relative;
    background-color: #FFFFFF;
    margin-left: -70px;
    padding-right: 20px;
}
.populaire .carte4 .zone_blanche4 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 20px;
    margin-top: 16px;
}
.populaire .carte4 .zone_blanche4 p {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-left: 20px;
    margin-top: 7px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 {
    margin-left: 20px;
    margin-top: 40px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte4 .zone_blanche4 .kit_etoiles4 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
    margin-right: -3.5px;
}

/* POPULAIRES CARTE5 */
.populaire .carte5 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 20px;
    width: 343px;
    height: 144px;
    overflow: hidden;
    margin: 32px auto auto auto;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.populaire .carte5 img {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
.populaire .carte5 .zone_blanche5 {
    position: relative;
    background-color: #FFFFFF;
    margin-left: -58px;
}
.populaire .carte5 .zone_blanche5 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 20px;
    margin-top: 16px;
}
.populaire .carte5 .zone_blanche5 p {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-left: 20px;
    margin-top: 7px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 {
    margin-left: 20px;
    margin-top: 40px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte5 .zone_blanche5 .kit_etoiles5 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
    margin-right: -3.5px;
}

/* POPULAIRES CARTE6 */
.populaire .carte6 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 20px;
    width: 343px;
    height: 144px;
    overflow: hidden;
    margin: 35px auto auto auto;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.populaire .carte6 img {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
.populaire .carte6 .zone_blanche6 {
    position: relative;
    background-color: #FFFFFF;
    margin-left: -70px;
}
.populaire .carte6 .zone_blanche6 h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 20px;
    margin-top: 16px;
}
.populaire .carte6 .zone_blanche6 p {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-left: 20px;
    margin-top: 7px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 {
    margin-left: 20px;
    margin-top: 58px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 .etoiles1 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 .etoiles2 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 .etoiles3 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 .etoiles4 {
    color: #0065FC;
    font-size: 12px;
    margin-right: -3.5px;
}
.populaire .carte6 .zone_blanche6 .kit_etoiles6 .etoiles5 {
    color: #F2F2F2;
    font-size: 12px;
    margin-right: -3.5px;
}

/* SECTION ACTIVITES */
.section_activite {
    margin-left: 50px;
}
.section_activite h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-top: 60px;
}
.section_activite .kit_carte {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* CARD1 */
.section_activite .card1 {
    overflow: hidden;
    width: 302px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.section_activite .card1 img {
    width: 302px;
    height: 388px;
}
.section_activite .card1 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;   
    margin-top: 15px; 
    margin-left: 19px;
}

/* CARD2 */
.section_activite .card2 {
    overflow: hidden;
    margin-left: 43px;
    width: 302px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.section_activite .card2 img {
    width: 302px;
    height: 388px;
}
.section_activite .card2 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;   
    margin-top: 15px; 
    margin-left: 19px;
}

/* CARD3 */
.section_activite .card3 {
    overflow: hidden;
    margin-left: 43px;
    width: 302px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.section_activite .card3 img {
    width: 302px;
    height: 388px;
}
.section_activite .card3 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;   
    margin-top: 15px; 
    margin-left: 19px;
}

/* CARD4 */
.section_activite .card4 {
    overflow: hidden;
    margin-left: 43px;
    width: 302px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.section_activite .card4 img {
    width: 302px;
    height: 388px;
}
.section_activite .card4 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;   
    margin-top: 15px; 
    margin-left: 19px;
}

/* FOOTER */
.footer {
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    width: 1339px;
    height: 218px;
    margin: 61px 0 0 48px;
}

/* FOOTER APROPOS */
.footer .foot_apropos {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 70px;
}
.footer .foot_apropos h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.footer .foot_apropos .p1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.footer .foot_apropos .p2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 13px;
}
.footer .foot_apropos .p3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 13px;
}

/* FOOTER HEBERGEMENTS */
.footer .foot_hebergements {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 230px;
}
.footer .foot_hebergements h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.footer .foot_hebergements .p1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.footer .foot_hebergements .p2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 13px;
}

/* FOOTER ASSISTANCE */
.footer .foot_assistance {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 240px;
}
.footer .foot_assistance h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.footer .foot_assistance .p1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.footer .foot_assistance .p2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 13px;
}